
.container {
  display: inline-flex;
  height: 50px;
  width: 100%;
}

#menu {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

  justify-content: flex-end;
}


h1 #title {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}


#flex {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;

}
